# Build directories
dist/
_build/
build/
pyflasc.egg-info/

# Build Cython sources
src/flasc/**/*.pyd
src/flasc/**/*.so
src/flasc/**/*.cpp
src/flasc/**/*.c
src/flasc/**/*.html

# Editor configurations
.idea/
.vscode/
*.code-workspace

# Caches
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Large data files
notebooks/data/generated/