# Build directories
dist/
_build/
build/
pyflasc.egg-info/

# Build Cython sources
flasc/**/*.pyd
flasc/**/*.so
flasc/**/*.cpp
flasc/**/*.c
flasc/**/*.html

# Editor configurations
.idea/
.vscode/
*.code-workspace

# Caches
__pycache__/
.pytest_cache/
.ipynb_checkpoints/

# Large data files
notebooks/data/generated/