include README.md
include pyproject.toml
include LICENSE
include MANIFEST.in
include CHANGELOG.txt
recursive-include src *.pyx *.pxd
recursive-exclude src *.c *.cpp
recursive-exclude docs *
recursive-exclude notebooks *